.container-footer {
  width: auto;
  height: 250px;
  margin: 0 20px 20px 20px;
  border-radius: 20px;

  @media only screen and @phone-screen-portrait {
    background-color: red;
  };
  @media only screen and @phone-screen-landscape {
    background-color: blue;
  };
  @media only screen and @tablet-screen-portrait {
    background-color: green;
  };
  @media only screen and @tablet-screen-landscape {
    background-color: darkviolet;
  };
  @media only screen and @desktop-screen {
    background-color: gold;
  };
}
