////////////////////////////////////////////////
//
// FOOTER SETTINGS
//
////////////////////////////////////////////////

.footer-container {
  list-style-type: none;

  .col-3 {
    width: 28%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

}


////////////////////////////////////////////////
//
// FOOTER CONTAINER
//
////////////////////////////////////////////////

.footer-container {
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px 50px;
  background-color: #272727;

}


////////////////////////////////////////////////
//
// FOOTER SECTION
//
////////////////////////////////////////////////

.footer-section-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and @tablet-screen-min-1024 {
    flex-wrap: nowrap;
  }
}

.footer-section {
  display: flex;
  justify-content: center;

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a {
    color: #AEAEAE;
    text-decoration: none;
  }

}

//:HOVER
a:hover {
  color: white;
}

//USE REACT
.justify-space-evenly {
  justify-content: space-evenly;
}
.add-margin-left {
  margin-left: 48px;
  @media only screen and @tablet-screen-min-768 {
    margin-left: 60px;
  }
  @media only screen and @tablet-screen-min-1024 {
    margin-left: 28px;
  }
  @media only screen and @tablet-screen-min-1024 {
    margin-left: 0;
  }

}


//////////////////////////////////////////////
//
//  FOOTER LINE SEPARATOR
//
//////////////////////////////////////////////

.footer-vertical-line {
  display: none;
  height: auto;
  border-left: 1.2px solid #d3d3d329;
  margin: 0 50px 0 50px;

  @media only screen and @tablet-screen-min-1024 {
    display: block;
  };
}

.footer-horizontal-line {
  width: 100%;
  border-bottom: 1.2px solid #d3d3d329;
  margin: 20px 50px 20px 50px;

}
