.card-container {
  display: flex;
  height: 500px;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and @phone-screen-portrait {
    margin: 0 50px 20px 50px;
    background-color: red;
  };
  @media only screen and @phone-screen-landscape {
    margin: 0 80px 20px 80px;
    background-color: blue;
  };
  @media only screen and @tablet-screen-portrait {
    margin: 0 110px 20px 110px;
    background-color: green;
  };
  @media only screen and @tablet-screen-landscape {
    margin: 0 125px 20px 125px;
    background-color: darkviolet;
  };
  @media only screen and @desktop-screen {
    margin: 0 150px 20px 150px;
    background-color: gold;
  };

  .card-item {
    z-index: 1;
    background-color: red;
  }

  .card-img {
    background-color: white;
  }
}
